.zone-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for larger screens */
  gap: 16px; /* Spacing between items */
}

.zone-box {
  background-color: lightgray; /* or any preferred color */
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
}
.wide {
  grid-template-columns: 2fr;
  margin-top: 15px;
}

/* Small device styles */
@media (max-width: 480px) {
  .zone-container {
    grid-template-columns: 1fr; /* 1 column for smaller screens */
  }
}
