.loading-leaf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .leaf {
    animation: sway 1s infinite alternate;
  }
  
  @keyframes sway {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    100% {
      transform: translate(0, -10px) rotate(-15deg);
    }
  }
  